@import url("./_reset.css");
@import url("./_typography.css");
@import url("./_header.css");
@import url("./_lateral-menu.css");
@import url("./_feed.css");

#main {
	position: sticky;
}

.sticky {
	position: sticky;
	top: 0;
}

.thin-border {
	border: 1px solid #bbd6ee;
}

.thin-border-bottom {
	border-bottom: 1px solid rgba(186, 213, 238, 0.5);
}
